#webcam-container {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: fixed;
    /* background: royalblue; */
}

#webcam{
    /* position: fixed; */
    height: 100vh;
    width: 100vh;
    object-fit: cover;
    /* transform: scaleX(-1); */
    /* filter: FlipH; */
}

#result-panel{
    /* max-width: 500px; */
    width: 100vh;
    /* height: 10vh; */
    text-align: center;
    position: fixed;
    top: 0;
    /* left: calc(50% - 50px); */
    z-index: 5;
}

.object-success{
    background-color: #77dd77;
    color: white;
}

.object-failed{
    background-color: #ff6961;
    color: white;
}

#call-to-action{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 5;
}